.container {
  width: 90%;
  margin: 0 auto;
}

.logoutButton {
  padding: 10px 20px;
  background-color: #ff5252;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logoutButton:hover {
  background-color: #ff1744;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.pagination button {
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

.taskEdit {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.taskEdit input[type="text"], .taskEdit textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.taskEdit label {
  display: block;
  margin-bottom: 10px;
}

.taskEdit button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.taskEdit button:hover {
  background-color: #0056b3;
}

.taskInfo {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
}

.taskInfo h3 {
  margin-bottom: 10px;
  color: #333;
}

.taskInfo p {
  margin-bottom: 5px;
  color: #666;
}

.taskInfo .status {
  font-weight: bold;
}

.taskInfo button {
  padding: 8px 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.taskInfo button:hover {
  background-color: #0056b3;
}
