.formContainer {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  @media screen and (max-width: 820px) {
    max-width: 300px;
  }
  @media screen and (max-width: 520px) {
    max-width: 200px;
  }
}

.formContainer p {
  color: #ff5252;
  margin-bottom: 10px;
}

.inputField {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.textareaField {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: vertical; /* Разрешить изменение размера только по вертикали */
}

.addButton {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.addButton:hover {
  background-color: #0056b3;
}
